@import url('https://fonts.googleapis.com/css?family=Fira+Sans&display=swap');

*{
    font-family: 'Fira Sans', sans-serif;
}

.app-container{
    display: flex;
    flex-direction: column;
    background-color: #effbf0;
    align-items: center;
    justify-content: center;
    height: 100%;
    position:fixed;
    top:0px;
    bottom:0px;
    left:0px;
    right:0px;
}

.koshurvagabond-form-input{
    border-radius: 30px;
    height: 30px;
    padding: 10px;
    font-size: 1.2em;
    border: solid 2px #0a5960;   
    width:300px;
}

.koshurvagabond-form-btn{
    border-radius: 30px;
    background-color: #50ce52;
    border: none;
    color: #ffffff;
    text-align: center;
    font-size: 1.5em;
    width: 330px;
    height: 50px;
    padding: 0;
}

.koshurvagabond-title-text{
    color: #50ce52;
    font-size: 40px;
    margin: 0;
    padding: 0;
}

.koshurvagabond-link{
    font-size: 20px;
}

.koshurvagabond-views-loading-container{
    display: flex;
    flex-direction: column;
    height: 100%;
    position:fixed;
    top:0px;
    bottom:0px;
    left:0px;
    right:0px;
    background-image:url('assets/images/loading.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
}